{% extends 'base.html' %}
{% block content %}
{% load static %}
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="../" class="navbar-brand">Currency Exchange App</a>
      </div>
    </div>

    <br><br><br><br>
    <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
      <h5>Exchange Rate Converter</h5>
      <img src="{% static 'images/image.jpg' %}" class="image" style="width:100px; margin-bottom:-50px; " >
    </div>

  <div class="container">
    <div class="currency">
       <select class="form-control" id="currency-one">
        <option value="UAH" selected>UAH</option>
        <option value="USD">USD</option>
      </select>
    <br>
      <input type="number" id="amount-one"  placeholder="Enter the amount of money" style="width:100%" />
    </div>
</div>
<br>
  <div class="swap-btn">
    <button type="button" id="swap" class="btn btn-outline-primary mx-auto d-block">Change Currencies
 <i class="fa fa-refresh" aria-hidden="true"></i></button>
  </div>
  <div class="rate" id="rate" style="color:green"></div>
    <br>
    <div class="container">
      <div class="currency">
         <select class="form-control" id="currency-two">
          <option value="UAH">UAH</option>
          <option value="USD" selected>USD</option>
        </select>
      <br>
        <input type="number" id="amount-two" placeholder="0" value="1" style="width:100%" />
      </div>
  </div>
  <br>
  <br><br><br>
  <footer id="footer">
    <div class="row">
      <div class="col-lg-12">
        <p><a href="https://github.com/Rockste4dy">GitHub code</a></p>
          <p>Base on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a></p>
      </div>
    </div>
  </footer>

  <script src="{% static 'js/script.js'%}"></script>
{% endblock %}